.contenedor_seccion {
  display: flex;
  flex-direction: column;
  gap: var(--gaps-5);
  padding: var(--gaps-1) var(--gaps-3) var(--gaps-3) var(--gaps-3);
  border: 1px solid var(--surface-third);
  border-radius: var(--radius-3);

  legend {
    color: var(--color-primary-text);
    font-weight: var(--font-bold);
    font-size: 1.2em;
    padding: var(--gaps-1);
  }
}

.contenedor_informacion {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  align-items: start;
  gap: var(--gaps-5);
  padding: var(--gaps-4);
  border: 1px solid var(--surface-third);

  border-radius: var(--radius-3);
}

.span_dos_columnas {
  grid-column: span 2;
}

.seccion_botones {
  display: flex;
  gap: var(--gaps-3);
  align-items: flex-end;
  justify-content: flex-end;
  margin-top: var(--gaps-4);
  grid-column: span 2;
}
.boton_evidencia {
  background: var(--black-chocolate);
  color: white;
  transition: all 0.3s ease;
  padding: 8px var(--gaps-4);
  border: none;
  border-radius: var(--radius-2);
  cursor: pointer;
  font-weight: 600;
  font-size: 14px;
  width: fit-content;
  display: flex;
}

.boton_evidencia:hover {
  background: var(--brand-6);
  transform: translateY(-2px);
  box-shadow: 0 4px 8px hsla(0, 80%, 35%, 0.3);
}

.boton_eliminar {
  align-items: center;
  justify-content: center;
  background: var(--brand-5);
  color: white;
  transition: all 0.3s ease;
  padding: 8px var(--gaps-4);
  border: none;
  border-radius: var(--radius-2);
  cursor: pointer;
  font-weight: 600;
  font-size: 14px;
  width: fit-content;
  display: flex;
}

.boton_eliminar:hover {
  background: var(--brand-7);
  transform: translateY(-2px);
  box-shadow: 0 4px 8px hsla(0, 80%, 35%, 0.3);
}

.boton_agregar {
  align-items: center;
  justify-content: center;
  background: var(--brand-secondary);
  color: white;
  transition: all 0.3s ease;
  padding: 8px var(--gaps-4);
  border: none;
  border-radius: var(--radius-2);
  cursor: pointer;
  font-weight: 600;
  font-size: 14px;
  width: fit-content;
  margin-left: auto;
  align-self: flex-end;
  display: flex;
}
.boton_agregar:hover {
  background: var(--brand-6-secondary);
  transform: translateY(-2px);
  box-shadow: 0 4px 8px hsla(41, 94%, 45%, 0.3);
}

.fecha_diligenciamiento{
  color: var(--color-primary-text);
}