.contenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  gap: 1rem;
}

.icono {
  width: 20rem;
  height: 20rem;
  opacity: 0.8;
}

.texto {
  font-size: 1.2rem;
  color: var(--color-placeholder);
  opacity: 0.8;
  text-align: center;
}
